name: strapi-AWS

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # ----------------------------
      # 1. Checkout repository
      # ----------------------------
      - name: Checkout
        uses: actions/checkout@v4

      # ----------------------------
      # 2. Configure AWS Credentials
      # ----------------------------
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      # ----------------------------
      # 3. Login to AWS ECR
      # ----------------------------
      - name: Login to AWS ECR
        uses: aws-actions/amazon-ecr-login@v2

      # ----------------------------
      # 4. Build & Push Docker Image
      # ----------------------------
      - name: Build and Push Image to ECR
        run: |
          ECR_REPO="${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.us-east-1.amazonaws.com/strapi-app"
          IMAGE_TAG="${GITHUB_SHA}"
          docker build -t $ECR_REPO:$IMAGE_TAG .
          docker push $ECR_REPO:$IMAGE_TAG
          echo "IMAGE=$ECR_REPO:$IMAGE_TAG" >> $GITHUB_ENV

      # ----------------------------
      # 5. Deploy to EC2 (SSH)
      # ----------------------------
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_PUBLIC_IP }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            sudo docker pull ${{ env.IMAGE }}

            sudo docker stop strapi || true
            sudo docker rm strapi || true

            sudo docker run -d \
              --name strapi \
              -p 80:1337 \
              -e NODE_ENV=production \
              -e PUBLIC_URL="http://${{ secrets.EC2_PUBLIC_IP }}" \
              -e APP_KEYS="${{ secrets.APP_KEYS }}" \
              -e API_TOKEN_SALT="${{ secrets.API_TOKEN_SALT }}" \
              -e ADMIN_JWT_SECRET="${{ secrets.ADMIN_JWT_SECRET }}" \
              -e JWT_SECRET="${{ secrets.JWT_SECRET }}" \
              -e DATABASE_CLIENT=postgres \
              -e DATABASE_HOST="${{ secrets.DB_HOST }}" \
              -e DATABASE_PORT=5432 \
              -e DATABASE_NAME="postgres" \
              -e DATABASE_USERNAME="postgres" \
              -e DATABASE_PASSWORD="${{ secrets.DB_PASS }}" \
              -e AWS_REGION=us-east-1 \
              -e AWS_S3_BUCKET="${{ secrets.S3_BUCKET }}" \
              ${{ env.IMAGE }}
