name: Deploy Strapi to EC2

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id:     ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Login to ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build & Push Image
        run: |
          IMAGE="${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.us-east-1.amazonaws.com/strapi:${{ github.sha }}"
          docker build -t $IMAGE .
          docker push $IMAGE
          echo "IMAGE=$IMAGE" >> $GITHUB_ENV

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_PUBLIC_IP }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            sudo docker pull ${{ env.IMAGE }}
            sudo docker stop strapi || true
            sudo docker rm strapi || true

            sudo docker run -d \
              --name strapi \
              -p 80:1337 \
              -e DATABASE_CLIENT=postgres \
              -e DATABASE_HOST=${{ secrets.DB_HOST }} \
              -e DATABASE_PORT=5432 \
              -e DATABASE_NAME=strapidb \
              -e DATABASE_USERNAME=${{ secrets.DB_USER }} \
              -e DATABASE_PASSWORD=${{ secrets.DB_PASS }} \
              -e AWS_ACCESS_KEY_ID=${{ secrets.S3_KEY }} \
              -e AWS_SECRET_ACCESS_KEY=${{ secrets.S3_SECRET }} \
              -e AWS_REGION=ap-south-1 \
              -e AWS_S3_BUCKET=${{ secrets.S3_BUCKET }} \
              ${{ env.IMAGE }}
